@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>


<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component">
  <ChildContent> Render Fragement From Parent! WooHOO!</ChildContent>
 @* <DangerChildContent>Danger Content from Render Fragement! WooHOO!</DangerChildContent> *@
</_ChildComponent>

<p><b>@messageText</b></p>
<_AnotherChildComponent InputAttributes="InputAttributesFromParent"></_AnotherChildComponent>


@*<_ChildComponent Title="This is second child component">
</_ChildComponent>*@

@code {
     public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        { "required" , "required"},
        { "placeholder", "Enter Name From Parent"},
        { "maxlength", 5}
      };

    public string messageText = "";

    private void ShowMessage()
    {
        messageText="Tangy button clicked from Child Component";
    }

}
