@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>


<_ChildComponent Title="This title is passed as parameter from Parent Component">
   Render Fragement From Parent! WooHOO!
</_ChildComponent>

<_ChildComponent Title="This is second child component">
</_ChildComponent>

@code {

}
