@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>


<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component">
   Render Fragement From Parent! WooHOO!
</_ChildComponent>

<p><b>@messageText</b></p>

<_ChildComponent Title="This is second child component">
</_ChildComponent>

@code {
    public string messageText = "";

    private void ShowMessage()
    {
        messageText="Tangy button clicked from Child Component";
    }

}
