@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>


<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component"
MessageForGrandChild="This message is from your grand parent (ParentComponent)"
>
  <ChildContent> Render Fragement From Parent! WooHOO!</ChildContent>
 @* <DangerChildContent>Danger Content from Render Fragement! WooHOO!</DangerChildContent> *@
</_ChildComponent>

<p><b>@messageText</b></p>
<_AnotherChildComponent placeholder="Placeholder from Parent"></_AnotherChildComponent>


@*<_ChildComponent Title="This is second child component">
</_ChildComponent>*@

@code {
    

    public string messageText = "";

    private void ShowMessage()
    {
        messageText="Tangy button clicked from Child Component";
    }

}
