<div class="row">
    <h4 class="text-primary pl-4 pt-2 col-12">Grand Child Component</h4>
    <p>There is a message - @MessageForGrandChild </p>
</div>

@code {
    [CascadingParameter]
    public string MessageForGrandChild { get; set; }
}
