<h3>_LifeCycleChild</h3>


<hr />
@foreach (var item in EventType)
{
    @item
    <hr />
}


@code {

    [Parameter]
    public int CountValue { get; set; }

    List<string> EventType = new List<string>();



    protected override void OnInitialized()
    {
        EventType.Add("Child - OnInitialized is called");
    }

    protected override void OnParametersSet()
    {
        EventType.Add("Child - OnParametersSet is called");
    }


}
