@page "/cart"
@inject ILocalStorageService _localStorage


@if (IsProcessing)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif" />
    </div>
}
else
{
   	<div class="container mt-4">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0 ">
				<div class="row">
					<div class="col-6  pt-2">
						Shopping Cart
					</div>
					<div class="col-6 col-md-3 offset-md-3 text-end">
						<a href="/" class="btn btn-outline-info form-control">Continue Shopping</a>
					</div>
				</div>
			</div>
			<div class="card-body">
						<div class="row">
					<div class="col-3 col-md-1 text-center py-2">
						<img src="ImageUrl" class="rounded" width="100%" />
					</div>
					<div class="col-9 text-sm-center text-md-start col-md-4 pt-lg-1 ">
						<h4><strong>Name</strong></h4>

						<div class="badge bg-primary text-center" style="font-size:12px;">
							Category.Name
						</div>
						<div class="badge bg-info text-center" style="font-size:12px;">
							Color
						</div>
						<div><p>Size : ##</p></div>
					</div>
					<div class="col-12 text-sm-center col-md-7 text-md-start row  pt-lg-3 mt-3">
						<div class="col-4 pt-1 ">
							
							<h6><strong>$Price <span class="text-muted">x</span> Count </strong></h6>
						</div>
						<div class="col-6 col-sm-4 col-lg-6">
							<button type="submit" class="btn btn-primary">
								<i class="bi bi-plus-square"></i>
							</button>
							<button  type="submit" class="btn btn-warning">
								<i class="bi bi-dash-square"></i>
							</button>
						</div>
						<div class="col-2 col-sm-4 col-lg-2 text-right">
							<button  type="submit" class="btn btn-outline-danger">
								<i class="bi bi-trash-fill"></i>
							</button>
						</div>
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col-12 col-md-5">
					</div>
					<div class="col-12 col-md-6 offset-md-1 col-lg-4 offset-lg-3 pr-4">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between bg-light">
								<span class="text-info"> Total (USD)</span>
								<strong class="text-info">$$</strong>
							</li>
						</ul>
					</div>
				</div>


			</div>
			<div class="card-footer">
				<div class="col-12  col-md-3 offset-md-9">
					<a href="" class="btn btn-secondary form-control">Summary</a>
				</div>
			</div>
		</div>
	</div> 

}

@code {
	public bool IsProcessing { get; set; } = false;
	private List<ShoppingCart> ShoppingCart = new List<ShoppingCart>();


	protected override async Task OnInitializedAsync()
	{
		IsProcessing=true;
		ShoppingCart = await _localStorage.GetItemAsync<List<ShoppingCart>>(SD.ShoppingCart);
		IsProcessing=false;
    }

}
